// Reset
@import 'reset.scss';

$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import '_variables.scss';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$fa-font-path: "~font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

// Admin theme
@import 'theme/inspina/style.scss';

// App Components
@import 'common/common.scss';
@import 'components/components.scss';

// Global CSS

body {
  outline: none;
}

.navbar {
    border-radius: 0;
}

.active {
  color: red;
}
